.custom-button {
    display: inline-block;
    background: linear-gradient(to right, #50FF90, #32CD32); /* Gradiente verde */
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    width: 100%;
    max-width: 400px; /* Define um tamanho máximo */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Centraliza o botão */
}

.custom-button:hover {
    background: linear-gradient(to right, #32CD32, #50FF90);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

.custom-button:active {
    box-shadow: none;
    transform: scale(0.98);
}

/* Responsividade */
@media (max-width: 480px) {
    .custom-button {
        font-size: 16px;
        padding: 12px 20px;
        max-width: 90%;
    }
}
